*{
    margin: 0;
    padding: 0;
}

html, body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
}

form{
    width: 96%;
    max-width: 600px;
    margin: 30px auto;
}

form fieldset{
    padding: 0 40px;
    border: 3px solid #ccc;
    border-radius: 20px;
}

form legend{
    text-align: center;
    font-size: 25px;
    color: rgb(130, 130, 130);
}

form input[type=text], form input[type=email]{
    display: inline-block;
    background-color: black;
    color: blanchedalmond;
    border-radius: 10px;
    margin-top: 30px;
    width: 90%;
    padding: 8px 13px;
}

form input[type=text]:focus, form input[type=email]:focus{
    background-color: cadetblue;
    color: black;
    outline: 0;
}

form select{
    background-color: black;
    color: rgb(110, 110, 110);
    border-radius: 10px;
    outline: 0;
    width:calc(85% + 55px);
    margin: 30px 0 30px 0;
    padding: 8px 13px;
    border-radius: 10px;
}

form select:focus{
    background-color: cadetblue;
    color: black;
}

.escolhas{
    width: calc(85% + 30px);
    border: 3px solid #ccc;
    border-radius: 20px;
    padding: 10px;
}

h3{
    margin-top: 10px;
    text-align: center;
    color: rgb(100, 100, 100);
}

.input{
    display: inline-block;
    margin: 10px 0 0 38%;
    text-align: left;
    
}

.input span {
    margin: 7px;
    padding: 5px;
    font-size: 16px;
    color: rgb(110, 110, 110);
}

form input[type=submit]{
    padding: 10px;
    margin: 10px 0 10px;
    border-radius: 10px;
    color: blanchedalmond;
    background-color: black;
    font-size: 13px;
    cursor: pointer;
}

.mensagem {
    width: calc(90% + 30px);
    text-align: center;
    border: 3px solid #ccc;
    border-radius: 20px;
}

.mensagem textarea{
    margin-top: 10px;
    border-radius: 20px;
    width: calc(85% + 30px);
    padding: 10px;
    outline: 0;
    resize: none;
}

